---
layout: page
title: Projects
---
<br>
{% assign random = site.time | date: "%s%N" | modulo: site.data.quotes.size %}
<blockquote>&ldquo;{{ site.data.quotes[random].quote }}&rdquo; <cite>{{ site.data.quotes[random].person }}</cite></blockquote>

<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}


</section>


